.default {
  background-color: pink;
  color: black;
}

.threeClicks {
  background-color: purple;
}

.sixClicks {
  background-color: rgb(117, 62, 132);
}

.nineClicks {
  background-color: rgb(231, 77, 77);
}

.twelveClicks {
  background-color: orange;
  color: black;
}

.fifteenClicks {
  background-color: yellow;
  color: black;
}

.eighteenClicks {
  background-color: white;
  color: black;
}
